{
  "debug": true,
  "mode": "openhab",
  "_mode": "ha_bridge",
  "devices": [
    "/dev/input/by-id/usb-1611_2.4G_Composite_Devic-if01-event-mouse",
    "/dev/input/by-id/usb-1611_2.4G_Composite_Devic-event-kbd",
    "/dev/input/by-id/usb-2412_2.4G_Composite_Devic-if01-event-mouse",
    "/dev/input/by-id/usb-2412_2.4G_Composite_Devic-event-kbd" ],
  "mouse_disabled": false,
  "keyboard_disabled": false,
  "max_x_resolution": 720.0,
  "max_y_resolution": 400.0,
  "openhab_url": "http://192.168.1.xxx:8080",
  "ha_bridge_url": "http://192.168.1.xxx",
  "ha_bridge_username": "random_junk",
  "_drift": 0.003,
  "mouse_binding": { "action": "color",
		     "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] }, 
  "mouse_effect": "hsl",
  "keyboard_bindings": [
                        { "name": "Living Room Lights Toggle",
                          "key": ["Esc"], 
			  "action": "toggle",	
			  "lights": [1,2,3,10,12,14] },
			{ "name": "Bedroom Lights Toggle",
                          "key": ["F1"],
			  "action": "toggle",
			  "lights": [15] },
			{ "name": "Bathroom lights Toggle",
                          "key": ["F2"],
                          "action": "toggle",
                          "lights": [5,6,7] },
			{ "name": "Dining Room Lights Toggle",
                          "key": ["F5"],
                          "action": "toggle",
                          "lights": [4] },
			{ "name": "Hallway Lights Toggle",
                          "key": ["F3"],
                          "action": "toggle",
                          "lights": [8,9] },
			{ "name": "All Wemo Switches Toggle",
                          "key": ["F6"],
                          "action": "toggle",
                          "lights": [12,13,14] },
			{ "name": "Kitchen Toggle",
                          "key": ["F4"],
                          "action": "toggle",
                          "lights": [16,17] },
			{ "name": "Everything off",
                          "key": ["Slash","PageDown"],
                          "action" :"off",
                          "lights": [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18] },
			{ "name": "Everything on",
                          "key": ["PageUp"],
                          "action": "on",
                          "lights": [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17] },
			{ "name": "Stereo on",
                          "key": ["W"],
                          "action": "on",
                          "lights": [18] },
			{ "name": "Stereo off",
                          "key": ["X"],
                          "action": "on",
                          "lights": [18] },
			{ "name": "Stereo toggle",
                          "key": ["S"],
                          "action": "toggle",
                          "lights": [18] },
			{ "name": "Randomize all",
                          "key": ["Enter"],
                          "action": "random",
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "rotate right",
                          "key": ["Right"],
                          "action": "rotate",
			  "repeatable": true,
			  "reversed": true,
                          "lights": [5,6,7,8,9,4,10,1,2,3] },
			{ "name": "rotate left",
                          "key": ["Left"],
                          "action": "rotate",
			  "repeatable": true,
                          "lights": [5,6,7,8,9,4,10,1,2,3] },
			{ "key": ["F10"],
                          "action": "dim_multiply",
			  "value": 0.5,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "key": ["Delete"],
                          "action": "dim_multiply",
			  "value": 2,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "key": ["Up"],
                          "action": "dim",
			  "repeatable": true,
			  "value": 16,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "key": ["Down"],
                          "action": "dim",
			  "repeatable": true,
			  "value": -16,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "key": ["A"],
                          "action": "random",
                          "lights": [5,6,7] },
			{ "name": "Bathroom lights on",
                          "key": ["B"],
                          "action": "on",
                          "lights": [5,6,7] },
			{ "name": "Bathroom lights off",
                          "key": ["G"],
                          "action": "off",
                          "lights": [5,6,7] },
			{ "key": ["I"],
                          "action": "rotate",
			  "reversed": true,
                          "lights": [5,6,7] },
			{ "key": ["O"],
                          "action": "rotate",
                          "lights": [5,6,7] },
			{ "name": "Everything to white (or on)",
                          "key": ["VolumeUp"],
                          "action": "white",
			  "switches_on": true,
                          "lights": [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17] },
			{ "name": "Everything to red",
                          "key": ["VolumeDown"],
                          "action": "color",
			  "x": 0.86655,
			  "y": 0.433333,
                          "h": 0, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to light blue",
                          "key": ["PreviousSong"],
                          "action": "color",
			  "x": 0.12, 
			  "y": 0.25,
                          "h": 208, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to yellow",
                          "key": ["NextSong"],
                          "action": "color",
			  "x": 0.5, 
			  "y": 0.5,
                          "h": 60, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Toggle Everything",
                          "key": ["PlayPause","Space"],
                          "action": "toggle",
                          "lights": [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17] },
			{ "name": "Everything to green",
                          "key": ["1"],
                          "action": "color",
			  "x": 0.3, 
			  "y": 0.63,
                          "h": 120, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to purple",
                          "key": ["2"],
                          "action": "color",
			  "x": 0.25, 
			  "y": 0.1,
                          "h": 260, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to magenta",
                          "key": ["3"],
                          "action": "color",
			  "x": 0.5, 
			  "y": 0.25,
                          "h": 300, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to turquoise",
                          "key": ["4"],
                          "action": "color",
			  "x": 0.45, 
			  "y": 0.15,
                          "h": 180, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to lemon-lime",
                          "key": ["5"],
                          "action": "color",
			  "x": 0.333, 
			  "y": 0.6,
                          "h": 80, "s": 20, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to cobalt",
                          "key": ["6"],
                          "action": "color",
			  "x": 0.13, 
			  "y": 0.6,
                          "h": 235, "s": 100, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to pale pink",
                          "key": ["7"],
                          "action": "color",
			  "x": 0.3, 
			  "y": 0.28,
                          "h": 345, "s": 5, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to fire",
                          "key": ["8"],
                          "action": "color",
			  "x": 0.6, 
			  "y": 0.35,
                          "h": 20, "s": 80, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to pale purple",
                          "key": ["9"],
                          "action": "color",
			  "x": 0.225, 
			  "y": 0.15,
                          "h": 270, "s": 50, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "Everything to lime",
                          "key": ["0"],
                          "action": "color",
			  "x": 0.3, 
			  "y": 0.55,
                          "h": 105, "s": 50, "b": 100,
                          "lights": [1,2,3,4,5,6,7,8,9,10,15,16,17] },
			{ "name": "VolumeUP",
                          "key": "U",
			  "action": "custom",
			  "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_volume",
			  "method": "post",
			  "state_url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_volume",
			  "state_method": "get",
			  "eval": "state.to_i + 3" },
			{ "name": "VolumeDOWN",
                          "key": "J",
			  "action": "custom",
			  "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_volume",
			  "method": "post",
			  "state_url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_volume",
			  "state_method": "get",
			  "eval": "state.to_i - 3" },
			{ "name": "VolumeMUTE",
			  "key": "M",
			  "action": "custom",
			  "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_mute",
			  "method": "post",
			  "state_url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_mute",
			  "state_method": "get",
                          "eval": "state ==  'ON' ? 'OFF' : 'ON'"
			},
			{ "name": "Next Track",
			  "key": "Dot",
			  "action": "custom",
			  "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
			  "method": "post",
                          "body": "NEXT"
			},
			{ "name": "Previous Track",
			  "key": "Comma",
			  "action": "custom",
			  "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
			  "method": "post",
                          "body": "PREVIOUS"
                        },
			{ "name": "Play/Pause Track",
			  "key": "RightMeta",
			  "action": "custom",
			  "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
			  "method": "post",
                          "body": "PAUSE"
			},
			{ "name": "Put on LuxuriaMusic",
                          "key": "L",
                          "action": "custom",
                          "chain": [
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_power",
                                       "method": "post",
                                       "body": "ON" },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_input",
                                       "method": "post",
                                       "body": "40",
                                       "delay": 1.0 },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
                                       "method": "post",
                                       "body": "Select0",
                                       "delay": 1.0 },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
                                       "method": "post",
                                       "body": "Select0",
                                       "delay": 1.0 },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
                                       "method": "post",
                                       "body": "Select0",
                                       "delay": 1.0 },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
                                       "method": "post",
                                       "body": "Select0",
                                       "delay": 1.0 },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_control",
                                       "method": "post",
                                       "body": "Select0",
                                       "delay": 1.0 }]
                        },
			{ "name": "Put on Radio Tuner",
                          "key": "F",
                          "action": "custom",
                          "chain": [
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_power",
                                       "method": "post",
                                       "body": "ON" },
                                     { "url": "http://192.168.1.xxx:8080/rest/items/openhab_device_id_input",
                                       "method": "post",
                                       "body": "38" }]
                        }
],
"openhab_devices": [
{
  "id": 1,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "stage light"
},
{
  "id": 2,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "door light"
},
{
  "id": 3,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "couch light"
},
{
  "id": 4,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "dining room"
},
{
  "id": 5,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "bathroom left"
},
{
  "id": 6,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "bathroom middle"
},
{
  "id": 7,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "bathroom right"
},
{
  "id": 8,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "inner hallway"
},
{
  "id": 9,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "outer hallway"
},
{
  "id": 10,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "LED strip"
},
{
  "id": 15,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "bedside light"
},
{
  "id": 12,
  "name": "openhab_device_id_state",
  "type": "switch",
  "label": "neon sign"
},
{
  "id": 13,
  "name": "openhab_device_id_state",
  "type": "switch",
  "label": "lp player"
},
{
  "id": 14,
  "name": "openhab_device_id_state",
  "type": "switch",
  "label": "movie poster"
},
{
  "id": 16,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "kitchen 1"
},
{
  "id": 17,
  "name": "openhab_device_id_color",
  "type": "color",
  "label": "movie poster"
},
{
  "id": 18,
  "name": "openhab_device_id_power",
  "type": "switch",
  "label": "stereo"
}]}

